
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    .left{
        font-weight: bold;
    }
    .right{
        font-size: 14px;
        font-weight: 500;
    }
}
