
.piechart{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    .chart{
        width: 100%;
        height: 100%;
    }
    .bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        .option{
            display: flex;
            gap: 5px;
            .color{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            .text{
                font-size: 14px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
}